div(style="clear:both;")
p
  | Copyright 2013 Henrik Mühe <a href="mailto:henrik.muehe@gmail.com">henrik.muehe@gmail.com</a>
  | &nbsp;
  a(href="http://henrikm85-tetris.nodejitsu.com/tetris.html") Original contest
  | &nbsp;
  a(href="https://github.com/henrik-muehe/tetris") sourcecode
