meta(property="og:title",content="Tetris (formerly in <4096 bytes) by Henrik Mühe")
meta(property="og:image",content="http://tetris.muehe.org/screenshot.png")
title Tetris (formerly in <4096 bytes) by Henrik Mühe
