!!! 5
include header.jade
style
  body{font-family:courier}
  .f{float:left;margin-left:10px}
  .g{width:300px;height:450px;border:1px solid black;}
  .s{margin-left:10px;font-size:30pt;}
  .n{width:120px;height:120px;;}
h1 Tetris
#g.g.f
#n.n.f
.s.f
pre#h.f
script(src="libs/raphael.js")
script(src="libs/nonsense.js")
script(src="libs/jquery.js")
script(src="tetris.js")
script(src="client.js")
include footer.jade
